
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Oswald&family=Vina+Sans&display=swap');
.texto{
    color:rgb(18, 237, 18);
    padding-left: 180px;
    font-family: 'Oswald', sans-serif;
}