.corpo{
    display: flex;
    flex-direction: column;
    

}
.noticias{
    display: flex;
    flex-direction: row;
    background-color: green;
    align-items: center;
    text-align: center;
    justify-content: center;

}
.noticia{
    background-color: black;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.foto{
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;

}
.TextoNoticia{
    color: green;
    width: 100%;
}


